---
import BaseHead from "../components/BaseHead.astro";
import Header from "@/components/header/Header";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import MultiLayerParallax from "@/components/multiLayerParallax/MultilayerParallax";
import InfoCard from "@/components/InfoCard/InfoCard";
import Service1 from "@/assets/images/service1.webp?url";
import "@fontsource/merriweather";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="font-merriweather">
    <Header client:load />
    <MultiLayerParallax client:load />
    <main>
      <h1
        class="font-bold text-[#5F775D] text-4xl md:text-6xl text-center my-16"
      >
        Landscape Services We Offer
      </h1>
      <InfoCard
        title="Landscape"
        imageUrl={Service1}
        buttonText="See All Services"
      >
	  <span class="text-md text-gray-600 mb-4">
		Ready to transform your space? We create stunning landscapes, luxurious poolscapes, vibrant plantscapes, and captivating lighting designs—all tailored to your style.
	  </span>
	  <br></br>
	  <ul class="list-disc pl-5 text-gray-600 mb-4">
		<li class="mb-1"><strong>Landscape Design</strong></li>
		<li class="mb-1"><strong>Poolscape Design</strong></li>
		<li class="mb-1"><strong>Plantscape Design</strong></li>
	  </ul>
	  <span class="text-md text-gray-600">
		Let’s make your outdoors extraordinary.
	  </span>
      </InfoCard>

      <h1>🧑‍🚀 Hello, Astronaut!</h1>
      <p>
        Welcome to the official <a href="https://astro.build/">Astro</a> blog starter
        template. This template serves as a lightweight, minimally-styled starting
        point for anyone looking to build a personal website, blog, or portfolio
        with Astro.
      </p>
      <p>
        This template comes with a few integrations already configured in your
        <code>astro.config.mjs</code> file. You can customize your setup with
        <a href="https://astro.build/integrations">Astro Integrations</a> to add
        tools like Tailwind, React, or Vue to your project.
      </p>
      <p>Here are a few ideas on how to get started with the template:</p>
      <ul>
        <li>Edit this page in <code>src/pages/index.astro</code></li>
        <li>
          Edit the site header items in <code>src/components/Header.astro</code>
        </li>
        <li>
          Add your name to the footer in <code>src/components/Footer.astro</code
          >
        </li>
        <li>
          Check out the included blog posts in <code>src/pages/blog/</code>
        </li>
        <li>
          Customize the blog post page layout in <code
            >src/layouts/BlogPost.astro</code
          >
        </li>
      </ul>
      <p>
        Have fun! If you get stuck, remember to <a
          href="https://docs.astro.build/"
          >read the docs
        </a> or <a href="https://astro.build/chat">join us on Discord</a> to ask
        questions.
      </p>
      <p>
        Looking for a blog template with a bit more personality? Check out <a
          href="https://github.com/Charca/astro-blog-template"
          >astro-blog-template
        </a> by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
      </p>
    </main>

    <Footer />
  </body>
</html>
